@import "./geral.css";

.logo {
    height: 30px;
    width: auto;
}

.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    z-index: 10;    
    font-family: Arial;
    background-color: #17182f;
}
#basic-navbar-nav .navbar-nav{
    margin:auto;
    margin-right:0;
    }

    .navbar{
        background-color: #17182f;
    }

#basic-navbar-nav .navLink{
    color: #dba90d;
}

.navLink:hover {
    color: white !important;
}

/* Mobile version */
  
@media screen and (max-width: 600px) {
    .logo{
        margin-left: 20px;
      }
      .navbar-brand {
        padding-top: 2.3125rem;
      }

      #basic-navbar-nav .navLink {
        background-color: #17182f;
        text-align: center;
      }
/*       .navbar-toggler{
          background-color:#dba90d;
      } */
}

@media screen and (max-width: 768px) {
    .logo {
        margin-left: 20px;
    }
    .navbar-brand {
        padding-top: 2.3125rem;
      }
      #basic-navbar-nav .navLink {
        background-color: #17182f;
        text-align: center;
      }
/*       .navbar-toggler{
        background-color:#dba90d;
    } */
} 
